<h1 class="title">Quiz Maker</h1>
<ng-container>
    <div class="form-group select-wrapper container">
        <select name="categorySelect" id="categorySelect" [ngModel]="categorySelect.value" #categorySelect class="form-control">
            <option value="" [hidden]="+categorySelect.value >= 0">
                Select a category
            </option>
            <option [value]="category.id" *ngFor="let category of categories">
                {{ category.name }}
            </option>
        </select>
        <select name="difficultySelect" id="difficultySelect" [(ngModel)]="difficultySelect.value" #difficultySelect class="form-control">
            <option value="" [hidden]="+difficultySelect.value >= 0">
                Select a difficulty
            </option>
            <option value="1">Easy</option>
            <option value="2">Medium</option>
            <option value="3">Hard</option>
        </select>
        <button type="submit" id="createBtn" class="btn" [disabled]="isDisable(+categorySelect.value, +difficultySelect.value)"
            (click)="createQuestions(categorySelect.value, difficultySelect.value)">
            Create
        </button>
    </div>
</ng-container>
<ng-container *ngIf="showQuestions; else loading">
    <app-questions [questions]="questions"></app-questions>
</ng-container>

<ng-template #loading >
    <h3 class="title" *ngIf="hasSelection">Loading...</h3>
</ng-template>
