.title {
    display: flex;
    justify-content: center;
    padding-top: 1em;
  }
  .questions {
    display: flex;
    justify-content: center;
    padding: 0.5em;
  }
  .select-wrapper {
    display: flex;
    padding: 1em;
    align-items: center;
  }
  .select {
    margin-left: 1em;
  }